<div [ngStyle]="{'background-image': 'url(../../../../assets/images/backgrounds/not-special/' + backgroundNumber+'.jpg' + ')'}"
     class="wrapper"
>
  <div class="content">
    <div class="card__container">
      <div class="card__title">
        <p>رسالة ربنا ليك :</p>
      </div>
      <div class="card__body">
        <img *ngIf="data[number].type === 'image'" [src]="data[number].value" alt="">
        <iframe *ngIf="data[number].type === 'video'" [src]="data[number].value | safeYoutubeUrl"
                frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
