/* For use in src/lib/core/theming/_palette.scss */
$md-primarycolors: (
  /* For use in src/lib/core/theming/_palette.scss */
  50 : #e5ecee,
  100 : #bdcfd4,
  200 : #91afb7,
  300 : #658e9a,
  400 : #447685,
  500 : #235e6f,
  600 : #1f5667,
  700 : #1a4c5c,
  800 : #154252,
  900 : #0c3140,
  A100 : #79d4ff,
  A200 : #46c4ff,
  A400 : #13b4ff,
  A700 : #00a9f8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);


/* For use in src/lib/core/theming/_palette.scss */
$md-seconderycolors: (
  50 : #e7f4ec,
  100 : #c2e4cf,
  200 : #9ad3af,
  300 : #71c18f,
  400 : #52b377,
  500 : #34a65f,
  600 : #2f9e57,
  700 : #27954d,
  800 : #218b43,
  900 : #157b32,
  A100 : #b1ffc5,
  A200 : #7eff9f,
  A400 : #4bff79,
  A700 : #31ff66,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-thirdcolors: (
  50 : #f9e5e4,
  100 : #f0bdbc,
  200 : #e6918f,
  300 : #db6562,
  400 : #d44440,
  500 : #cc231e,
  600 : #c71f1a,
  700 : #c01a16,
  800 : #b91512,
  900 : #ad0c0a,
  A100 : #ffdada,
  A200 : #ffa7a7,
  A400 : #ff7574,
  A700 : #ff5b5a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

